/* CSS copied from WordPress zeeTasty theme. */

/* CSS Reset | http://meyerweb.com/eric/tools/css/reset/ | v2.0
-------------------------------------------------------------- */


/* latin-ext */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(../fonts/cycBf3mfbGkh66G5NhszPQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), url(../fonts/V41d6938Z8eBLYL302F8Ig.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), url(../fonts/HNu4Nzh6q8Es60EMNZhs9w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* General Styles
-------------------------------------------------------------- */
html {
	font-size: 100.01%;
}
body {
	font-family: 'Arimo', Verdana, Arial;
	font-size: 0.95em;
	border: 0;
	color: #111;
	background: #eee;
}

/* Links */
a, a:link, a:visited{
	color: #dd2222;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

h1.page-title {
  font-size: 3.0em;
  font-weight: normal;
  font-family: 'Lobster', Verdana, Arial;
  color: #333;
  line-height: 1.3em;
  margin-bottom: 0.3em;
}

h2 {
  margin-bottom: 0.5em!important;
}

p {
  margin-bottom: 0.6em;
}

/* Form Elements */
input, textarea {
	padding: 0.8em;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 1.0em;
	color: #333;
	font-family: 'Arimo', Verdana, Arial;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

body {
  background-color: #5fd60a;
  background-image: url('../images/octocon_background.jpg');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: fixed;
}

div#page {
  border-top: 0.5em solid #2d912e;
  max-width: 1140px;
  width: 85%;
  margin: 3% auto;
  background: #fdfdfd;
  box-shadow: 0 0 5px #aaa;
}

header#header {
  background: #fdfdfd;
  color: #000;
}

header#header div.region-header {
  padding: 1em 2.7em 3em;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header#header div.site-branding {
  margin: 0;
  padding: 0;
}

header#header div.site-branding__text {
  margin: 0;
  padding: 0;
}

header#header div.site-branding__logo {
  display: none;
}

header#header div.site-branding__name {
  font-size: 3.5em;
  color: #ba1111;
  font-family: 'Lobster', Verdana, Arial;
}

header#header div.site-branding__slogan {
  margin-top: 0.4em;
  font-family: 'Arimo', Verdana, Arial;
  font-style: normal;
  font-size: 0.95em;
  color: #111;
}

header#header a {
  color: #2d912e;
}

header#header div.region-primary-menu {
  border-top: 2px solid #2d912e;
  background-color: #2d912e;
  margin: 0 -1.2em;
}

header#header div.region-primary-menu nav {
  border-top: 1px solid #fdfdfd;
  background: url(../images/navi-bg.png) repeat;
}

header#header div.region-primary-menu ul {
  padding-left: 2.7em;
  list-style-type: none;
  list-style-position: outside;
  position: relative;
  list-style: none;
}

header#header div.region-primary-menu li {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #111;
}

header#header div.region-primary-menu li a {
  display: block;
  padding: 1.5em 0;
  margin: 0;
  margin-right: 3em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Arimo', Verdana, Arial;
  font-size: 0.9em;
  font-weight: normal;
  border: none;
  background-color: transparent;
  color: #fff;
}

header#header div.region-primary-menu li a:hover {
  text-decoration: underline;
}

div.highlighted {
  margin-top: 1px;
  margin-bottom: 0;
  padding: 1.5em;
  padding-bottom: 0.2em;
  background: #fdfdfd;
  border: 1.2em solid #ddd;
  border-bottom: none;
  box-shadow: inset 0 0 0 1px #ccc;
}

div#main-wrapper {
  margin-top: 0;
  padding: 1.5em;
  background: #fdfdfd;
  border: 1.2em solid #ddd;
  box-shadow: inset 0 0 0 1px #ccc;
}

footer.site-footer {
    padding: 15px;
    background: url(../images/navi-bg.png) repeat;
    background-color: #2d912e;
    margin: 0;
    color: #fff;
}

footer.site-footer div.site-footer__bottom {
  border: none;
  margin: 0;
}

footer.site-footer div.region-footer-fifth {
  border: none;
  margin: 0;
}

footer.site-footer nav.site-footer__bottom {
  margin: 0;
}

div#block-octocon-theme-powered {
  text-align: right;
  margin: 0;
}
